In [19]:
import pandas as pn
import random as r
xls = pn.ExcelFile("/home/elvinmahmudzada/Downloads/yelp.xlsx")
df = xls.parse("yelp_data")
df_cities = xls.parse("cities")
df.head()
df= pn.merge(left=df, right=df_cities, how='inner', left_on="city_id", right_on="id")
df.head()
# df.shape
pitts = df["city"] == "Pittsburgh"
print(type(pitts))
# print(pitts)
print(type(df[pitts]))
# print([r for r in df[pitts] if r['name']=="Aamco Transmissions" and r['take_out']==True])
# business = df["name"]=="Aamco Transmissions"
# check = df[business]["take_out"]

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

/home/elvinmahmudzada/PythonProjects/jupyter_notebook/jupynotebook_env/lib/python3.13/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/home/elvinmahmudzada/PythonProjects/jupyter_notebook/jupynotebook_env/lib/python3.13/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [24]:
lasVegas = df["city"] == "Las Vegas"
print(df["city"].str.contains("Vegas"))
bars = df["category_0"]=="Bars"
bars2 = df["category_1"]=="Bars"
restaurant1 = df["category_0"].isin(["Restaurant"])
restaurant2 = df["category_1"].isin(["Restaurant"]) 
dvBars = df["category_0"]=="Dive Bars"
dvBars2 = df["category_1"]=="Dive Bars"

0      False
1      False
2      False
3      False
4      False
       ...
595     True
596     True
597     True
598     True
599     True
Name: city, Length: 600, dtype: bool

In [8]:
selection2 = df[(dvBars | dvBars2) & lasVegas]
starsCriteria = selection2["stars"] >=4
diveBars_Stars=selection2[starsCriteria]
randomInt = r.randint(0, len(diveBars_Stars))

diveBars_Stars[randomInt:randomInt+1]
# print(selection2)

,name,category_0,category_1,take_out,review_count,stars,city_id,state_id,id,city
451,Huntridge Tavern,Dive Bars,Bars,False,50,4.0,12,2,12,Las Vegas

In [9]:
cat1 = df["category_0"] == "Nail Salons"
cat2 = df["category_1"] == "Nail Salons"
henderson = df["city"] == "Henderson"
# review_Counts = df["review_count"]
nail_salons = df[(cat1 | cat2) & henderson]
nail_reviews=nail_salons["review_count"]

print(nail_reviews.sum())

158

In [10]:
catAutoRepair = df["category_0"].str.contains("Auto Repair")
catAutoRepair2 = df["category_1"].str.contains("Auto Repair")
pittsburgh = df["city"] == "Pittsburgh"
print(df[(catAutoRepair | catAutoRepair2) & pittsburgh]["stars"].mean())

4.5

In [11]:
df["city"].unique()

array(['Bellevue', 'Braddock', 'Carnegie', 'Homestead', 'Mc Kees Rocks',
       'Mount Lebanon', 'Munhall', 'Pittsburgh', 'West Homestead',
       'West Mifflin', 'Henderson', 'Las Vegas', 'North Las Vegas'],
      dtype=object)

In [12]:
allCitiesAutoRepairs = df[catAutoRepair | catAutoRepair2]
max=0
for city in df["city"].unique():
    cityIn = df["city"] == city
    avg = df[(catAutoRepair | catAutoRepair2) & cityIn]["stars"].mean()
    if avg>max:
        max=avg
        bestCity = city
print(bestCity)

Pittsburgh

In [13]:
df.groupby(['city']).groups.keys()

dict_keys(['Bellevue', 'Braddock', 'Carnegie', 'Henderson', 'Homestead', 'Las Vegas', 'Mc Kees Rocks', 'Mount Lebanon', 'Munhall', 'North Las Vegas', 'Pittsburgh', 'West Homestead', 'West Mifflin'])

In [14]:
len(df.groupby(['city']).groups['Las Vegas'])

133

In [15]:
df[catAutoRepair | catAutoRepair2].groupby("city")["stars"].mean()

city
Carnegie      2.500000
Henderson     3.333333
Homestead     3.500000
Las Vegas     3.875000
Pittsburgh    4.500000
Name: stars, dtype: float64

In [16]:
# df.groupby("Product")["Sales"].agg['sum', 'mean']

In [17]:
rest = df["category_0"].isin(["Bars", "Restaurants"])